template(name="scrumboard_cards_card")
	li.card(draggable="true")
		if editMode
			+scrumboard_cards_card_edit
		else
			.header
				span.label.label-danger.estimate=estimate

				h3.title=title
				
			.description
				+markdown
					#{description}
			p
				| Responsible: 
				span.responsible=responsible
			.tools
				button.btn.btn-delete.btn-danger 
					i.glyphicon.glyphicon-trash
				button.btn.btn-edit.btn-primary
					i.glyphicon.glyphicon-pencil
				each states
					button.btn.btn-default.btn-set-state(class="btn-state-#{value}" data-state=value)
						.glyphicon(class=icon)
			


template(name="scrumboard_cards_card_edit")
	+quickForm(class="edit-form" collection="Cards" doc=this id=_id type="update")
	button.btn.btn-danger.btn-cancel Cancel